<div class="container-fluid mt-0 mb-3 bg-contato">
    <br>
    <br>
    <div class="row col-md-12 d-flex justify-content-flex-start">
      <h1 class="text-center">Entre em contato comigo!
        <br>
        <br>
      </h1>    
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            
            <main>
                
            <div class="container-fluid">
                <h1 class="center">Sobre mim</h1>
            <div class="texto">
                <p>
                    Olá! Meu nome é Fabíola Souza Ferreira :)                        
                </p>  
                <p>
                    Sou Desenvolvedora Web FullStack. Fotógrafa, e entendo de finanças!
                </p>      
                <p>
                    Formada em Gestão Financeira pelo Senac e tenho curso técnico em Contabilidade. Trabalhei por cerca de dois anos em uma empresa de semi jóias, onde eu era responsável por toda a parte financeira, como fluxo de caixa, conciliação bancária, pagamentos, e demais rotinas financeiras. Com isso eu pude desenvolver a minha responsabilidade pessoal. Também já trabalhei nos setores administrativo e de logística em outras empresas. Nas horas livres eu gosto de fotografar e de ler livros, que além de ser um hobbie também é uma ferramenta que utilizo muito para aprender coisas novas. E foi na tecnologia onde eu me encontrei, é onde eu amo estar, por poder através dela gerar mudanças significativas ou mesmo simples, que deixam nosso dia a dia melhor e mais fácil.
                    <br>
                    <br>
                </p>
                <div class="d-flex justify-content-flex-start">
                
                    <a href="https://github.com/fabiolasoufer" target="_blank"><img class="p-2 rounded" src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white" target="_blank"></a>
                    <a href="https://www.linkedin.com/in/fabiolasoufer/" target="_blank"><img class="p-2" src="https://img.shields.io/badge/-LinkedIn-%230077B5?style=for-the-badge&logo=linkedin&logoColor=white" target="_blank"></a>
                    <a href = "mailto:fabiolasoufer@gmail.com"><img class="p-2" src="https://img.shields.io/badge/-Gmail-%23333?style=for-the-badge&logo=gmail&logoColor=white" target="_blank"></a>
                    <a href="https://discord.gg/Fabíola#1429" target="_blank"><img class="p-2" src="https://img.shields.io/badge/Discord-7289DA?style=for-the-badge&logo=discord&logoColor=white" target="_blank"></a>
                    <a href="https://wa.me/11979909426" target="_blank"><img class="p-2" src="https://img.shields.io/badge/WhatsApp-25D366?style=for-the-badge&logo=whatsapp&logoColor=white" target="_blank"></a>
                    <br>
                    <br>
                    </div>
            </div>      
            </div>
            </main>

                        
        </div>

    <div class="col-md-4">
        <div class="card d-flex justify-content-center" style="width: 18rem;">
            <img src="../../assets/img/me.jpeg" class="card-img-top" alt="...">
            
          </div>
    </div>        
    </div>
</div>
