<nav class="navbar navbar-expand-lg navbar-light bg-roxo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center">        
        <li class="nav-item pl-3">
          <p class="m-0 font-weight-bold text-forma2 text-pink fs-25">Olá, {{nome}}!</p>          
        </li>      
      <li class="nav-item pl-3">
          <a [routerLink]="['/inicio']">
              <p class="text-pink fs-18 m-0">
                <i class="fa fa-home" aria-hidden="true"></i>
              </p>
          </a>            
      </li>        
      </ul>
      
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
            <a (click)="sair()" class="m-0 font-weight-bold text-pink text-forma2 fs-25">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>
        </ul>

    </div>
  </nav>
