<div class="container-fluid flex-wrap d-flex justify-content-center">
  <div class="col-md-2 mt-5">
    <div class="row">
      <div class="card border" style="width: 18rem;">
        <img src="{{foto}}" class="card-img-top" alt="Foto do usuário">
        <div class="card-body">
          <p class="card-text text-forma fs-15">Quando você acreditar em uma coisa, acredite até ao fim, de forma implícita e inquestionável.</p>
          <div class="d-flex justify-content-center space-between">
            
            <a [routerLink]="['/contato']">
                <p class="text-dark fs-18 m-0 p-2">
                  <i class="fa fa-comments" aria-hidden="true"></i>
                </p>
            </a>            
        <!-- </li>
        <li class="nav-item pl-3"> -->
          <a [routerLink]="['/user-edit', id]">
              <p class="text-dark fs-18 m-0 p-2">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </p>
          </a>            
      <!-- </li>
        </ul> -->
          </div>                    
        </div>
      </div>      
    </div>      
  </div>

  <div class="col-md-8 m-0 mt-5 pl-5">  

    <div class="tab-content " id="nav-tabContent">

      <div class="tab-pane fade show active" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">
        
        <div class="card-columns">
          <div class="card text-center" 
          *ngFor='let item of listaPostagens | orderBy : key : reverse'>
            <div class="card-body">
              <h5 class="card-title m-0 text-forma2 fs-25">{{item.titulo}}</h5>              
              <img class="card-img-top img-fluid mt-2" src="{{item.texto}}" onerror="this.style.display = 'none'">                                          
              <p class="card-text mt-3 text-forma">{{item.texto}}</p>                          
            </div>
          </div>
        </div>
      </div>

      
      </div>
      </div>
    </div>
  





