/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Ms+Madi&family=Rubik&display=swap');

html
{
    scroll-behavior: smooth;
}

.fs-54{
    font-size: 54pt !important;
}

.fs-30{
    font-size: 40pt !important;
}

.fs-18{
    font-size: 18pt !important;
}

.fs-15{
    font-size: 15pt !important;
}

.fs-25{
    font-size: 25pt !important;
}

.bg-rosa{
    background-color: #bc8f8f !important;
}

.bg-roxo{
    background-color: #2e2932 !important;
}

.text-roxo{
    background-color: #2e2932;
}

.text-pink{
    color: #c89a9c !important;
}

.text-forma{
    font-family: 'Rubik', sans-serif;
}

.text-forma2{
    font-family: 'Amatic SC', cursive;
}

.text-cursiva{
    font-family: 'Ms Madi', cursive;
}

